.numberSold {
    color: green;
    background-color: lightgreen;
}

.numberPurchased {
    color: blue;
    background-color: lightblue;
}

.currentStock {
    color: red;
    background-color: pink;
}

.productCard {
    display: flex;
    justify-content: flex-start;
    border: dashed black 1px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
    gap: 20px;
}

.thumbnail {
    border: solid greenyellow 10px;
    padding: 20px 0 20px 0;
}
.info {
    border: solid greenyellow 10px;
}

.icon {
    max-width: 20px;
    padding: 4px;
}

.capabilities {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: flex-start;
}

.price {
    font-size: 40px;
}