.numberSold {
    color: green;
    background-color: lightgreen;
}

.numberPurchased {
    color: blue;
    background-color: lightblue;
}

.currentStock {
    color: red;
    background-color: pink;
}